{{#if book}}
  <div>ISBN: {{book.ISBN}}</div>
  <div>Title: {{book.Title}}</div>
  <div>SignId: {{book.SignId}}</div>
  <div>PublicationYear: {{book.PublicationYear}}</div>
  <div>PublicationInfo: {{book.PublicationInfo}}</div>
  <div>Pages: {{book.Pages}}</div>
  {{#if book.Authors}}
    <div>
      <h1>Authors:</h1> 
      {{#each book.Authors}}
        <li>{{FirstName}} {{LastName}}</li>
      {{/each}}
    </div>
  {{/if}}
  <button onclick="window.location.href='/books/{{book.ISBN}}/edit'">Edit</button>
{{else}}
  <p>Book does not exist yet!</p>
{{/if}}