{{#if errors.length}}
	<p>Could not create an author because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<form action="/authors/create" method="POST">
  firstname: <input type="text" name="firstname" value="{{author.firstName}}"><br>
  lastname: <input type="text" name="lastname" value="{{book.lastName}}"><br>
  birthyear: <input type="text" name="birthyear" value="{{book.birthYear}}"><br>
  <select multiple class="selectedBooks" name="selectedBooks">
    {{#each books}}
      <option value="{{ISBN}}">{{Title}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Create author">
</form>