<h1>BOOKS</h1>
<form action="/books/search/" method="GET">
  <div>
    Search <input type="text" name="bookSearch">
    <input type="submit" value="Go!">
  </div>
</form>
{{#if books.length}}
  {{#each books}}
    <div class="item">
      <a href="/books/{{ISBN}}">{{Title}}</a>
    </div>
  {{/each}}
  {{#if admin}}
    <button onclick="window.location.href='/books/create'">Create book</button>
  {{/if}}
{{else}}
  <div>
    <p>There is no books atm..</p>
    {{#if admin}}
      <button onclick="window.location.href='/books/create'">Create book</button>
    {{/if}}
  </div>
{{/if}}
<div>
  {{#each pages}}
    <a href="/books/page/{{index}}">{{index}}</a>
  {{/each}}
</div>