{{#if author}}
  <div><h1>{{author.surname}} {{author.lastname}}</h1></div>
  <div>{{author.birthdate}}</div>
  <div>{{author.birthplace}}</div>
  <div>{{author.publisher}}</div>
  <button onclick="window.location.href='/authors/{{author.id}}/edit'">Edit</button>
{{else}}
  <p>Author does not exist yet!</p>
{{/if}}