{{#if errors.length}}
	<p>Could not create a book because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

{{#if sessionAdmin}}
  <form action="/books/create" method="POST">
    ISBN: <input name="isbn" value="{{book.isbn}}"><br>
    Title: <input name="title" value="{{book.title}}"><br>
    SignId: <input name="signid" value="{{book.signId}}"><br>
    PublicationYear: <input name="publicationyear" value="{{book.publicationYear}}"><br>
    PublicationInfo: <input name="publicationinfo" value="{{book.publicationInfo}}"><br>
    Pages: <input name="pages" value="{{book.pages}}"><br>
    <select multiple class="selectedAuthors" name="selectedAuthors">
      {{#each authors}}
        <option value="{{Id}}">{{FirstName}} {{LastName}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Create book">
  </form>
{{/if}}