<h1>BOOKS</h1>
<form action="/books/search/" method="GET">
  <div class="searchfield">
    {{#if searchTerm}}
      Search <input type="text" name="bookSearch" value="{{searchTerm}}">
    {{else}}
      Search <input type="text" name="bookSearch">
    {{/if}}
    <input type="submit" value="Go!">
  </div>
</form>
{{#if sessionAdmin}}
  <div class="centered">
    <button onclick="window.location.href='/books/create'">Create book</button>
  </div>
{{/if}}
{{#if books.length}}
  {{#each books}}
    <div class="item">
      <a href="/books/{{ISBN}}">{{Title}}</a>
    </div>
  {{/each}}
{{else}}
  {{#if searchTerm}}
    <div class="centered">
      <p>Your search - <b>{{searchTerm}}</b> - did not match any book titles.</p>
    </div>
  {{else}}
    <div>
      <p>There are no books atm..</p>
    </div>
  {{/if}}
{{/if}}
<div class="centered">
  {{#if searchPagination}}
    {{#each urlAttributes}}
      <a href="/books/search/{{searchTerm}}/page/{{pageIndex}}">{{pageIndex}}</a>
    {{/each}}
  {{else}}
    {{#each urlAttributes}}
      <a href="/books/page/{{pageIndex}}">{{pageIndex}}</a>
    {{/each}}
  {{/if}}
</div>