<h1>AUTHORS</h1>
<form action="/authors/search/" method="GET">
  <div>
    Search <input type="text" name="authorSearch">
    <input type="submit" value="Go!">
  </div>
</form>
{{#if authors.length}} 
  {{#each authors}}
    <div class="item">
      <a href="/authors/{{Id}}">{{FirstName}} {{LastName}}</a>
    </div>
  {{/each}}
  {{#if admin}}
    <button onclick="window.location.href='/authors/create'">Create author</button>
  {{/if}}
{{else}}
  <div>
    <p>There is no authors atm..</p>
    {{#if admin}}
      <button onclick="window.location.href='/authors/create'">Create author</button>
    {{/if}}
  </div>
{{/if}}
<div>
  {{#each pages}}
    <a href="/authors/page/{{index}}">{{index}}</a>
  {{/each}}
</div>
