{{#if errors.length}}
  <p>Could not edit author because: </p>
  <ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if sessionAdmin}}
<form method="POST" action="/authors/{{author.Id}}/edit">
  firstname: <input type="text" name="firstName" value="{{author.FirstName}}"><br>
  lastname: <input type="text" name="lastName" value="{{author.LastName}}"><br>
  birthyear: <input type="text" name="birthYear" value="{{author.BirthYear}}"><br>
  <input type="submit" value="Save changes">
</form>
{{/if}}