{{#if book}}
  <div>{{book.ISBN}}</div>
  <div>{{book.Title}}</div>
  <div>{{book.SignId}}</div>
  <div>{{book.PublicationYear}}</div>
  <div>{{book.PublicationInfo}}</div>
  <div>{{book.Pages}}</div>
  {{#if admin}}
    <button onclick="window.location.href='/books/{{book.ISBN}}/edit'">Edit</button>
  {{/if}}
{{else}}
  <p>Book does not exist yet!</p>
{{/if}}