<h1>AUTHORS</h1>
<form action="/authors/search/" method="GET">
  <div class="searchfield">
    {{#if searchTerm}}
      Search <input type="text" name="authorSearch" value="{{searchTerm}}">
    {{else}}
      Search <input type="text" name="authorSearch">
    {{/if}}
    <input type="submit" value="Go!">
  </div>
</form>
{{#if sessionAdmin}}
  <div class="centered">
    <button onclick="window.location.href='/authors/create'">Create author</button>
  </div>
{{/if}}
{{#if authors.length}} 
  {{#each authors}}
    <div class="item">
      <a href="/authors/{{Id}}">{{FirstName}} {{LastName}}</a>
    </div>
  {{/each}}
{{else}}
  {{#if searchTerm}}
    <div class="centered">
      <p>Your search - <b>{{searchTerm}}</b> - did not match any authornames.</p>
    </div>
  {{else}}
    <div>
      <p>There are no authors atm..</p>
    </div>
  {{/if}}
{{/if}}
<div class="centered">
  {{#if searchPagination}}
    {{#each urlAttributes}}
      <a href="/authors/search/{{searchTerm}}/page/{{pageIndex}}">{{pageIndex}}</a>
    {{/each}}
  {{else}}
    {{#each urlAttributes}}
      <a href="/authors/page/{{pageIndex}}">{{pageIndex}}</a>
    {{/each}}
  {{/if}}
</div>