{{#if book}}
  <div><h1>{{book.title}}</h1></div>
  <div>{{book.author}}</div>
  <div>{{book.abstract}}</div>
  <div>{{book.isbn}}</div>
  <button onclick="window.location.href='/books/{{book.id}}/edit'">Edit</button>
{{else}}
  <p>Book does not exist yet!</p>
{{/if}}