<h1>AUTHORS</h1>
<form action="/authors/search/" method="GET">
  <div>
    Search <input type="text" name="authorSearch">
    <input type="submit" value="Go!">
  </div>
</form>
{{#if authors.length}}
  {{#each authors}}
  <div class="item">
    <a href="/authors/edit/{{id}}">{{surname}} {{lastname}}</a>
  </div>
  {{/each}}
  <button>Create author</button>
{{else}}
  {{#if author.length}} 
    {{#each author}}
      <div class="item">
        <a href="/authors/edit/{{id}}">{{surname}} {{lastname}}</a>
      </div>
    {{/each}}
    <button>Create author</button>
  {{else}}
    <div>
      <p>There is no authors atm..</p>
      <button>Create author</button>
    </div>
  {{/if}}
{{/if}}